.new_file_button {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    font-size: min(2.5vw, 18px);
    font-weight: 600;
    padding-left: min(1.5vw, 15px);
    padding-right: min(1.5vw, 15px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: min(3.5vw, 30px);
    border-radius: 14px;
    border-color: rgb(13, 13, 83);
    border-width: 1.8px;
    border-style: solid;
    box-shadow: rgb(13, 13, 83) 1.5px 1.5px 3px;
}